@media only screen and (max-width: 600px) {
  .top-icos-code-languages{
    visibility: hidden;
  }
  .box-items-studies{
    margin-bottom: 100px;
  }
  .languages-web{
    margin-top: -180px;
  }
  .framework-web{
    margin-top: -50px;
  }
  .list-hobies{
    margin-right: 30px;
  }
  .list-hobies li {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
}
.main-container-studies {
  border: 1px solid black;
  box-shadow: 0px 0px 5px 5px black;
  background-color: rgba(0, 0, 0, 0.29);
}
.box-items-studies{
  display: flex;
  justify-content: center;
}
/*###################################################################################*/
/*###################################################################################*/
/*ICOS STUDIES ---- START*/
.main-box-ico42{
  height: 200px;
  width: 205px;
  align-items: center;
  display: flex;
}
.about{
  height: 100px;
  width: 200px;
  text-align: right;
  border-radius: 0px 100px 100px 0px;
  margin-left: -40px;
  margin-bottom: 10px;
  font-weight: 700;
  background-color: rgb(7, 9, 34);
  border-color:  rgba(167, 167, 175, 0.486);
  box-shadow: 0px 0px 5px 1px white;
}
.about:hover{
  background-color: rgba(7, 9, 34, 0.39);
  border-color:  black;
  box-shadow: 0px 0px 2px 1px rgb(0, 18, 200);
}
/*ICOS STUDIES --- END ---*/
/*###################################################################################*/
/*###################################################################################*/
/*ICOS --- START ---*/
.img-42{
  width: 140px;
  height: 140px;
  background-image: url('../../images/42.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.img-42:hover{
  border: 3px solid blue;
}
.img-curso-em-video{
  width: 140px;
  height: 140px;
  background-image: url('../../images/cursoVideo.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.img-curso-em-video:hover{
  border: 3px solid blue;
}
.img-thp{
  width: 140px;
  height: 140px;
  background-image: url('../../images/thp.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.img-thp:hover{
  border: 3px solid blue;
}
.img-b7-web{
  width: 140px;
  height: 140px;
  background-image: url('../../images/b7web.png');
  background-position: center;
  background-size: 69%;
  background-repeat: no-repeat;
  z-index: 1;
}
.img-b7-web:hover{
  border: 3px solid blue;
}
.sub-main-icob7{
  z-index: 10;
  border-radius: 100px;
}
/*ICOS --- END ---*/
/*###################################################################################*/
/*###################################################################################*/
/*LANGUAGES SLIDES ---- START ----*/
.main-languages-explanation{
  margin-top: 100px;
}
.top-icos-code-languages{
  display: flex;
  justify-content: center;
  margin-top: -30px;
}
.top-icos-code-languages ul{
  width: 800px;
  justify-content: space-between;
}
.top-icos-code-languages ul li{
  display: flex;
  justify-content: space-around;
}
.top-icos-code-languages ul li:hover{
  margin-top: -10px;
  transition:all 0.1s ease-in-out;
}
.html{
  width: 50px;
  height: 50px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/512px-HTML5_logo_and_wordmark.svg.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.css{
  width: 50px;
  height: 50px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.bootstrap{
  width: 50px;
  height: 50px;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/2560px-Bootstrap_logo.svg.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.js{
  width: 50px;
  height: 50px;
  background-image: url('https://www.seekpng.com/png/full/80-803501_javascript-logo-logo-de-java-script-png.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.git{
  width: 50px;
  height: 50px;
  background-image: url('https://iconape.com/wp-content/png_logo_vector/git-icon.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.reactjs{
  width: 50px;
  height: 50px;
  background-image: url('https://ionicframework.com/docs/assets/icons/logo-react-icon.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
}
.ruby{
  width: 50px;
  height: 50px;
  background-image: url('https://papercallio-production.s3.amazonaws.com/uploads/event/logo/751/logo_900x900_transparent_bkg.png');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.rails{
  width: 50px;
  height: 50px;
  background-image: url('https://www.imagile.fr/wp-content/uploads/2017/12/logo-ror-300x300.png');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.postman{
  width: 50px;
  height: 50px;
  background-image: url('https://res.cloudinary.com/postman/image/upload/t_team_logo/v1/team/2893aede23f01bfcbd2319326bc96a6ed0524eba759745ed6d73405a3a8b67a8');
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*Content about each CODE LENGUAGE ---- START ----*/
.main-box-img-about-icos{
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 3px black;
}
.main-text-about-icos{
  border: 1px solid black;
  box-shadow: 0px 0px 5px 3px black;
  height: 348px;
}
.img-box-content{
  border: 1px solid black;
  box-shadow: 0px 0px 5px 3px black;
  border-radius: 20px;
  height: 220px;
  background-image: url('https://en-marche.fr/assets/images/ecole-42-en-marche-emmanuel-macron-niel-code-dev-french-tech.jpg?q=70&cache=15d88f6e63eaa73b665c&fm=pjpg&s=3127360a86ae16887bbc61182836c450');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
/*Competances --- START ----*/
.competances{
  margin-top: 20px;
  padding: 0;
}
.comp-text{
  width: 60px;
  height: 60px;
  margin-top: -10px;
  background-image: url('../../images/+.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.left-comp{
  width: 100%;
  margin-left: 12px;
}
.content-text ul {
  list-style: none;
  padding: 10px;
}
.txt-4,
.txt-3,
.txt-2,
.txt-1{
  border: 1px solid rgb(53, 52, 52);
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
}
.txt-4:hover,
.txt-3:hover,
.txt-2:hover,
.txt-1:hover{ 
  background-color: blue;
}
.languages-web{
  width: 60%;
}
.framework-web{
  width: 50%;
}
/*PROGRESS BAR ---- START ----*/
.progress{
  width: 100%;
  height: 10px;
}
.progress-bar{
  width: 70%;
}
.ruby-txt{
  width: 50%;
}

.reactjs-txt{
  width: 40%;
}
.javascript-txt{
  width: 40%;
}
/*PROGRESS BAR ---- END ----*/
/*Languages web RIGHT --- END ---*/
/*###################################################################################*/
/*###################################################################################*/
/*SCROLL EDIT*/
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
  }
  
  ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  }
  
  ::-webkit-scrollbar-thumb {
  background:black; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background:rgb(54, 56, 58); 
  }
/*######################################################################*/
/*######################################################################*/

.list-hobies{
  display: flex;
  list-style: none;
  justify-content: center;
}

.list-hobies li {
  margin-left: 50px;
  margin-right: 50px;
}