@media only screen and (max-width: 600px) {
  .title-junior{
    font-size: 40px !important;
  }
  .main-container{
    height: 812px !important;
  }
  .title-name{
    margin-top: -250px;
  }
  .title-junior{
    margin-top: -175px;
  }
}
@media only screen and (max-width: 1024px) {
  .title-junior{
    font-size: 40px !important;
  }
  .main-container{
    height: 812px !important;
  }
  .title-name{
    margin-top: -250px;
  }
  .title-junior{
    margin-top: -175px;
  }
}
body{
  color: white;
}
.main-container{
  border: 1px solid black;
  box-shadow: 0px 0px 5px 5px black;
  background-color: rgba(0, 0, 0, 0.50);
  padding: 0px;
}
.content-typewriter{
  display: flex;
  align-items: flex-end;
  height: 30%;
}
/*########################################################################*/
/*########################################################################*/
/*TITLE CSS --- START ---*/

.Typewriter__cursor{
  display: none;
}
.title-name{
  color: rgb(255, 255, 255);
  font-size: 40px;
  margin-top: 50px;
}
.title-junior{
  font-size: 80px;
  color: rgb(187, 187, 189);
  font-weight: 500;
}
.main-status{
  display: flex;
  padding: 10px;
  justify-content: center;
  margin-left: 15px;
}
.available{
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50px;
  background-color: rgb(7, 247, 7);
}
/*TITLE CSS --- END ---*/
/*########################################################################*/
/*########################################################################*/

/*SPINNER*/
.teste{
  display: flex;
  justify-content: center;
  margin-top: 120px;
  height: 200px;
}
.spinner-border {
  width: 150px;
  height: 150px;
}
/**/

/*LOGO CV*/
.logo-cv{
  background-image: url('../../images/cv.png');
  background-position:center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  position: absolute;
  margin-top: 25px;
  cursor: pointer;
}
.email{
  cursor:pointer;
}

.email:hover{
  color: rgb(76, 76, 241);
}